footer
    .container
        .footer-wrap
            .footer-top
                .footer-left
                    .footer-left__top
                        ul
                            li.footer-title
                                | Телефоны:
                            li +998 71 123-45-67
                            li +998 71 234-56-78
                        ul
                            li.footer-title
                                | Электронная почта:
                            li info@domen.uz
                        ul
                            li.footer-title
                                | Адрес:
                            li узбекистан, г. Ташкент, название  улицы, номер строения
                    .footer-left__bottom
                        ul.social
                            li.footer-title
                                | Мы в соцсетях:
                            li
                                a(href="#" target="_blank").fb
                            li
                                a(href="#" target="_blank").inst
                        ul.recoment
                            li.footer-title
                                | Нас рекомендуют:
                            li
                                a(href="#" target="_blank")
                                    img(src="images/icons/triplogo.png", alt="triplogo")
                            li
                                a(href="#" target="_blank")
                                    img(src="images/icons/booking.png", alt="booking")
                .footer-right
                    .footer-title
                        | Курс валют, установленные ЦБ Узбекистана:
                    .footer-rate
                        .footer-rate__item
                            .footer-rate__top
                                span.rate 1 USD
                                span.rate_name Доллар США
                            .footer-rate__bottom
                                span.value 8188.33
                        .footer-rate__item
                            .footer-rate__top
                                span.rate 1 EUR
                                span.rate_name Евро
                            .footer-rate__bottom
                                span.value 10057.73
                        .footer-rate__item
                            .footer-rate__top
                                span.rate 1 rub
                                span.rate_name Российский рубль
                            .footer-rate__bottom
                                span.value 140.96
                    .footer-rate__link
                        a(href="#" target="_blank") другие валюты на сайте ЦБ Узбекистана
            .footer-bottom
                .footer-bottom__item
                    p © ООО «Наименование компании», 2018
                .footer-bottom__item
                    a(href="#").korden
                        img(src="images/icons/korden.png", alt="Korden Group")