.header-inner
    .header-top
        .container
            .header-top__wrap
                a(href="/").logo
                    img(src="logo.svg", alt="Logo")
                .menu
                    .menu-top
                        ul
                            li
                                a(href="/").home
                            li
                                a(href="#")
                                    | О гостинице
                            li
                                a(href="#")
                                    | спецпредложения
                            li
                                a(href="#")
                                    | правила гостиницы
                            li
                                a(href="#")
                                    | отзывы
                            li
                                a(href="#")
                                    | галерея
                            li
                                a(href="#")
                                    | контакты
                        .lang
                            span Выберите язык:
                            ul
                                li
                                    a(href="#" class="rus") Рус
                                li
                                    a(href="#" class="eng") Eng
                    .menu-bottom
                        ul
                            li
                                a(href="#")
                                    span.icon01.icon
                                    span Номера и цены
                            li
                                a(href="#")
                                    span.icon02.icon
                                    span Встречи и мероприятия
                            li
                                a(href="#")
                                    span.icon03.icon
                                    span Растораны и бары
                            li
                                a(href="#")
                                    span.icon04.icon
                                    span Развлечения и спорт
                            li
                                a(href="#")
                                    span.icon05.icon
                                    span СПА-процедуры
                            li
                                a(href="#")
                                    span.icon09.icon
                                    span Бассейны и сауны
                        .menu-bottom__bottom
                            ul.number
                                li Телефоны:
                                li +998 <span>71 123-45-67</span>
                                li +998 <span>71 234-56-78</span>
                            ul.social
                                li.social-title
                                    | Мы в соцсетях:
                                li
                                    a(href="#" target="_blank").fb
                                li
                                    a(href="#" target="_blank").inst
                            a(href="#").btn.btn-large
                                span ЗАБРОНИРОВАТЬ номер