.mobile
    .mobile-btn
        button(type="button").btn-mobile#mobile
    .mobile-menu
        a(href="/").logo
            img(src="./logo.svg", alt="logo")
        .mobile-items
            .mobile-item.mobile-lang
                p
                    | Выберите язык:
                ul
                    li
                        a(href="#")
                            img(src="images/icons/rus.png", alt="rus")
                    li
                        a(href="#")
                            img(src="images/icons/rus.png", alt="rus")
                    li
                        a(href="#")
                            img(src="images/icons/rus.png", alt="rus")
            .mobile-item.mobile-top
                ul
                    li
                        a(href="#")
                            | О Гостинице
                    li
                        a(href="#")
                            | Спецпредложения
                    li
                        a(href="#")
                            | Правила гостиницы
                    li
                        a(href="#")
                            | Отзывы
                    li
                        a(href="#")
                            | Галерея
                    li
                        a(href="#")
                            | Контакты
            .mobile-item.mobile-center
                ul
                    li
                        a(href="#")
                            span.icon.icon01
                            span Номера и цены
                    li
                        a(href="#")
                            span.icon.icon02
                            span Встречи и мероприятия
                    li
                        a(href="#")
                            span.icon.icon03
                            span Растораны и бары
                    li
                        a(href="#")
                            span.icon.icon04
                            span Развлечения и спорт
                    li
                        a(href="#")
                            span.icon.icon05
                            span СПА-процедуры
                    li
                        a(href="#")
                            span.icon.icon09
                            span Бассейны и сауны
            .mobile-item.mobile-bottom
                span 
                    | Телефоны:
                ul
                    li
                        | +998 71 123-45-67
                    li
                        | +998 71 234-56-78
                span
                    | Мы в соцсетях:
                ul.social
                    li
                        a(href="#" target="_blank").fb
                    li
                        a(href="#" target="_blank").inst