extends pug/base

append vars
    - title = 'Номера и цены'
    - meta.description = 'Описание страницы'
    - meta.viewport = 'width=device-width, initial-scale=1'
    - link.icon = './favicon.ico'
    - meta.formatDetection = 'telephone=no'
    - meta.themeColor = '#17a8e5'
    - defaultLink = 'javascript:void(0);'
    - body.classList = ['inner-page'];
block content
    .content
        include pages/fixed-header
        include pages/inner-header
        .wrapper
            .container
                .navigation
                    .navigation-title
                        h1 Номера и цены
                    <ul class="crumbs">
                        <li>
                            <a href="/" class="nav-home"></a>
                        </li>
                        <li>
                            <a href="#">Номера и цены</a>
                        </li>
                    </ul>
                .room
                    .filters
                        ul
                            li.placeholder
                                <button type="button" data-text="Выберите номера">Все номера</button>
                            li.filter-item
                                <button type="button" data-filter="all" class="active filter">Все номера</button>
                            li.filter-item
                                <button type="button" data-filter=".room-1" class="filter">Одноместные</button>
                            li.filter-item
                                <button type="button" data-filter=".room-2" class="filter">Двухместные</button>
                            li.filter-item
                                <button type="button" data-filter=".room-3" class="filter">Трехместные</button>
                    .rooms-items
                        ul
                            - for(var i = 0; i < 3; i++)
                                li.rooms-item.mix.room-1
                                    a(href="#")
                                        .rooms-item__img(style="background-image: url(images/content/5.jpg)")
                                        .rooms-info
                                            .rooms__title
                                                | Стандарт
                                            .rooms__desc
                                                i 
                                                    | Уютные номера «Стандарт» площадью от 44 до 54 м² с просторным гардеробом и спальней расположены на мансардном этаже, обеспечивают комфортный отдых в уединенной обстановке.
                                            .rooms__option
                                                ul.icon-bar
                                                    li(data-tolltip="Wi-Fi").item0
                                                        i.icon
                                                    li(data-tolltip="TV").item1
                                                        i.icon
                                                    li(data-tolltip="Минибар").item2
                                                        i.icon
                                                    li(data-tolltip="Телефон").item3
                                                        i.icon
                                                    li(data-tolltip="Фен").item4
                                                        i.icon
                                                    li(data-tolltip="Кровать").item5
                                                        i.icon
                                            .rooms__price
                                                | От <span>450 000</span> uzs
                                li.rooms-item.mix.room-2
                                    a(href="#")
                                        .rooms-item__img(style="background-image: url(images/content/6.jpg)")
                                        .rooms-info
                                            .rooms__title
                                                | Делюск
                                            .rooms__desc
                                                i 
                                                    | Просторные и светлые номера «Делюкс» площадью от 51 до 64 м2 с видом на парк, функционально поделены на две части: спальную зону с широкой кроватью и гостиную зону с комфортабельным диваном. 
                                            .rooms__option
                                                ul.icon-bar
                                                    li(data-tolltip="Wi-Fi").item0
                                                        i.icon
                                                    li(data-tolltip="TV").item1
                                                        i.icon
                                                    li(data-tolltip="Минибар").item2
                                                        i.icon
                                                    li(data-tolltip="Телефон").item3
                                                        i.icon
                                                    li(data-tolltip="Фен").item4
                                                        i.icon
                                                    li(data-tolltip="Замок").item6
                                                        i.icon
                                                    li(data-tolltip="Кондиционер").item7
                                                        i.icon
                                                    li(data-tolltip="Кровать").item5
                                                        i.icon
                                            .rooms__price
                                                | От <span>550 000</span> uzs
                                li.rooms-item.mix.room-3
                                    a(href="#")
                                        .rooms-item__img(style="background-image: url(images/content/7.jpg)")
                                        .rooms-info
                                            .rooms__title
                                                | Студия
                                            .rooms__desc
                                                i 
                                                    | Великолепные номера «Студия» площадью от 90 до 120 м² с просторной гостиной и открытой террасой идеально подходят для комфортного пребывания деловых путешественников, а также семейного
                                            .rooms__option
                                                ul.icon-bar
                                                    li(data-tolltip="Wi-Fi").item0
                                                        i.icon
                                                    li(data-tolltip="TV").item1
                                                        i.icon
                                                    li(data-tolltip="Минибар").item2
                                                        i.icon
                                                    li(data-tolltip="Телефон").item3
                                                        i.icon
                                                    li(data-tolltip="Фен").item4
                                                        i.icon
                                                    li(data-tolltip="Замок").item6
                                                        i.icon
                                                    li(data-tolltip="Кондиционер").item7
                                                        i.icon
                                                    li(data-tolltip="Кровать").item5
                                                        i.icon
                                                    li(data-tolltip="Диван").item8
                                                        i.icon
                                                    li(data-tolltip="Душ").item9
                                                        i.icon
                                            .rooms__price
                                                | От <span>700 000</span> uzs
                        <div class="cd-fail-message">Результаты не найдены</div>
        include pages/footer