extends pug/base

append vars
    - title = 'Развлечения и спорт'
    - meta.description = 'Описание страницы'
    - meta.viewport = 'width=device-width, initial-scale=1'
    - link.icon = './favicon.ico'
    - meta.formatDetection = 'telephone=no'
    - meta.themeColor = '#17a8e5'
    - defaultLink = 'javascript:void(0);'
    - body.classList = ['inner-page'];
block content
    .content
        include pages/fixed-header
        include pages/inner-header
        .wrapper
            .container
                .navigation
                    .navigation-title
                        h1 Развлечения и спорт
                    <ul class="crumbs">
                        <li>
                            <a href="/" class="nav-home"></a>
                        </li>
                        <li>
                            <a href="#">Развлечения и спорт</a>
                        </li>
                    </ul>
                .other-page
                    .other-page__desc
                        p Поднимите себе настроение уже сегодня! Бронируя номер в нашей гостинице не позднее, чем за 60 дней до даты заезда, Вы получаете эксклюзивные условия до −20% от лучшей цены дня, возможность выбрать лучшие даты и гарантированно любимые номера. Забронируйте свою лучшую поездку в Ташкент заранее! Поднимите себе настроение уже сегодня! Бронируя номер в нашей гостинице не позднее, чем за 60 дней до даты заезда, Вы получаете эксклюзивные условия до −20% от лучшей цены дня, возможность выбрать лучшие даты и гарантированно любимые ... <br> номера. Забронируйте свою лучшую поездку в Ташкент заранее!
                    .other-page__services
                        h4 Услуги
                        .rooms__option
                            ul.icon-bar
                                li(data-tolltip="Wi-Fi").item0
                                    i.icon
                                li(data-tolltip="Еда").item10
                                    i.icon
                                li(data-tolltip="Проэктор").item11
                                    i.icon
                                li(data-tolltip="Телефон").item12
                                    i.icon
                                li(data-tolltip="DVD").item13
                                    i.icon
                                li(data-tolltip="TV").item1
                                    i.icon
                                li(data-tolltip="Караоке").item14
                                    i.icon
                                li(data-tolltip="Музыка").item15
                                    i.icon
                                li(data-tolltip="Наушники").item16
                                    i.icon
                                li(data-tolltip="Наушники").item17
                                    i.icon
                        .other-page__items
                            a(href="#").other-page__item
                                .other-page__img(style="background-image: url('images/content/14.jpg')")
                                .other-page__block
                                    h4 Пример длинного загаловка в две строки
                                    p Поднимите себе настроение уже сегодня! Бронируя номер в нашей гостинице не позднее, чем за 60 дней до даты заезда, Вы получаете эксклюзивные условия до −20% от лучшей цены дня, возможность выбрать лучшие даты и гарантированно любимые номера. Забронируйте свою лучшую поездку в Ташкент заранее...
                            a(href="#").other-page__item
                                .other-page__img(style="background-image: url('images/content/15.jpg')")
                                .other-page__block
                                    h4 Пример длинного загаловка в две строки Пример длинного загаловка в две строки Пример длинного загаловка в две строки
                                    p Поднимите себе настроение уже сегодня! Бронируя номер в нашей гостинице не позднее, чем за 60 дней до даты заезда, Вы получаете эксклюзивные условия до −20% от лучшей цены дня, возможность выбрать лучшие даты и гарантированно любимые номера. Забронируйте свою лучшую поездку в Ташкент заранее! Поднимите себе настроение уже сегодня! Бронируя номер в нашей гостинице не позднее, чем за 60 дней до даты заезда, Вы получаете...
                            a(href="#").other-page__item
                                .other-page__block
                                    h4 Пример длинного загаловка в две строки
                                    p Поднимите себе настроение уже сегодня! Бронируя номер в нашей гостинице не позднее, чем за 60 дней до даты заезда, Вы получаете эксклюзивные условия до −20% от лучшей цены дня, возможность выбрать лучшие даты и гарантированно любимые номера. Забронируйте свою лучшую поездку в Ташкент заранее!
                            a(href="#").other-page__item
                                .other-page__img(style="background-image: url('images/content/14.jpg')")
                                .other-page__block
                                    h4 Пример длинного загаловка в две строки
                                    p Поднимите себе настроение уже сегодня! Бронируя номер в нашей гостинице не позднее, чем за 60 дней до даты заезда, Вы получаете эксклюзивные условия до −20% от лучшей цены дня, возможность выбрать лучшие даты и гарантированно любимые номера. Забронируйте свою лучшую поездку в Ташкент заранее! Поднимите себе настроение уже сегодня! Бронируя номер в нашей гостинице не позднее, чем за 60 дней до даты заезда, Вы получаете эксклюзивные условия до −20% от лучшей цены дня, возможность выбрать лучшие даты и гарантированно любимые номер в нашей 
                            a(href="#").other-page__item
                                .other-page__block
                                    h4 Пример длинного загаловка в две строки
                                    p Поднимите себе настроение уже сегодня! Бронируя номер в нашей гостинице не позднее, чем за 60 дней до даты заезда, Вы получаете эксклюзивные условия до −20% от лучшей цены дня, возможность выбрать лучшие даты и гарантированно любимые номера. Забронируйте свою лучшую поездку в Ташкент заранее! Поднимите себе настроение уже сегодня! Бронируя номер в нашей гостинице не позднее, чем за 60 дней до даты заезда, Вы получаете эксклюзивные условия до −20% от лучшей цены дня, возможность выбрать лучшие даты и гарантированно любимые номер в нашей гостинице не позднее, чем за 60 дней до даты заезда, Вы получаете эксклюзивные условия до −20% от лучшей цены дня, возможность... 
        include pages/footer